html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

td:not([align]), th:not([align]) {
  text-align: left; }

a {
  text-decoration: none; }

@font-face {
  font-family: "PR";
  src: url("../fonts/Poppins-Regular.ttf"); }

@font-face {
  font-family: "PB";
  src: url("../fonts/Poppins-Bold.ttf"); }

html {
  font-family: "PR";
  font-size: 10px; }
  html body .header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 0;
    z-index: 999;
    /* Laptop */
    /* Tablet */
    /* Mobile */ }
    html body .header .container {
      max-width: 130rem;
      margin: 0 auto;
      padding: 0 1.5rem; }
      html body .header .container .nav {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        html body .header .container .nav .nav__burger {
          display: none;
          cursor: pointer;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
          html body .header .container .nav .nav__burger .icon {
            font-size: 3rem;
            color: #FFF;
            cursor: pointer; }
        html body .header .container .nav .nav-logo {
          font-size: 3rem;
          font-weight: 800;
          color: #FFF;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
        html body .header .container .nav .wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-flex: 2;
          -ms-flex: 2;
          flex: 2;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
          html body .header .container .nav .wrapper .nav-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            html body .header .container .nav .wrapper .nav-list .nav-item {
              margin: 0 2.5rem; }
              html body .header .container .nav .wrapper .nav-list .nav-item .nav-link {
                text-transform: capitalize;
                font-size: 1.4rem;
                font-weight: 800;
                letter-spacing: 1px;
                color: #FFF;
                -webkit-transition: color 480ms;
                -o-transition: color 480ms;
                transition: color 480ms; }
                html body .header .container .nav .wrapper .nav-list .nav-item .nav-link:hover {
                  color: #07172B; }
          html body .header .container .nav .wrapper .shopping-bag .icon {
            display: inline-block;
            font-size: 2.75rem;
            cursor: pointer;
            -webkit-transform: translateX(-2rem);
            -ms-transform: translateX(-2rem);
            transform: translateX(-2rem); }
            html body .header .container .nav .wrapper .shopping-bag .icon .bag-item-count {
              width: 2rem;
              height: 2rem;
              background-color: #021226;
              border-radius: 50%;
              font-size: .65rem;
              font-family: sans-serif;
              color: #FFF;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              position: absolute;
              top: -1rem;
              right: -2rem; }
    @media (max-width: 1480px) and (min-width: 1025px) {
      html body .header .container .nav .nav__burger {
        color: #FFF; }
      html body .header .container .nav .wrapper .nav-list .nav-item .nav-link {
        color: #021226; } }
    @media (max-width: 1024px) and (min-width: 768px) {
      html body .header {
        padding: 3rem 0; }
        html body .header .container .nav {
          -webkit-box-align: unset;
          -ms-flex-align: unset;
          align-items: unset; }
          html body .header .container .nav .nav__burger {
            display: block; }
            html body .header .container .nav .nav__burger .icon {
              font-size: 4.5rem; }
          html body .header .container .nav .nav-logo {
            -webkit-box-flex: 0;
            -ms-flex: 0;
            flex: 0;
            color: #FFF;
            font-size: 4rem; }
          html body .header .container .nav .wrapper {
            position: fixed;
            background-color: #021226;
            width: 100%;
            top: -20em;
            left: 0em;
            height: 60px; }
            html body .header .container .nav .wrapper.is-active {
              top: 10em; }
            html body .header .container .nav .wrapper .nav-list .nav-item .nav-link {
              color: #FFF; }
              html body .header .container .nav .wrapper .nav-list .nav-item .nav-link:hover {
                color: #5D6774; }
            html body .header .container .nav .wrapper .shopping-bag .icon {
              color: #FFF;
              -webkit-transform: translateX(-3rem);
              -ms-transform: translateX(-3rem);
              transform: translateX(-3rem); }
              html body .header .container .nav .wrapper .shopping-bag .icon .bag-item-count {
                color: #021226;
                background-color: #FFF; } }
    @media screen and (max-width: 767px) {
      html body .header {
        padding: 2rem 0;
        position: relative; }
        html body .header .container .nav .nav__burger {
          display: block; }
          html body .header .container .nav .nav__burger .icon {
            color: #021226; }
        html body .header .container .nav .nav-logo {
          -webkit-box-flex: 0;
          -ms-flex: 0;
          flex: 0;
          color: #021226; }
        html body .header .container .nav .wrapper {
          position: fixed;
          background-color: #021226;
          width: 50%;
          padding-top: 2em;
          height: 50vh;
          top: 7.52em;
          left: -100em;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          html body .header .container .nav .wrapper.is-active {
            left: 0em; }
          html body .header .container .nav .wrapper .nav-list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%; }
            html body .header .container .nav .wrapper .nav-list .nav-item {
              margin: 5.75px 15px;
              padding-bottom: .578em;
              width: 80%;
              border-bottom: 1px solid #293546; }
              html body .header .container .nav .wrapper .nav-list .nav-item .nav-link:hover {
                color: #5D6774; }
          html body .header .container .nav .wrapper .shopping-bag .icon {
            color: #FFF;
            -webkit-transform: translateX(0rem);
            -ms-transform: translateX(0rem);
            transform: translateX(0rem); } }
  html body .hero {
    background-color: #293546;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* Laptop */
    /* Tablet */
    /* Mobile */ }
    html body .hero .circle {
      position: absolute; }
    html body .hero .circle-small {
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      top: -7rem;
      left: -5rem;
      background-color: #021226;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms; }
      html body .hero .circle-small::before {
        content: '';
        position: absolute;
        width: 12rem;
        height: 12rem;
        border-radius: inherit;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #293546;
        -webkit-transition: all 480ms;
        -o-transition: all 480ms;
        transition: all 480ms; }
    html body .hero .circle-large {
      width: 120rem;
      height: 120rem;
      border-radius: 50%;
      bottom: -40rem;
      right: -50rem;
      background-color: #FFF;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms; }
      html body .hero .circle-large::before {
        content: '';
        position: absolute;
        width: 55rem;
        height: 55rem;
        border-radius: inherit;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #293546;
        -webkit-transition: all 480ms;
        -o-transition: all 480ms;
        transition: all 480ms; }
    html body .hero .container {
      max-width: 130rem;
      margin: 0 auto;
      padding: 0 1.5rem; }
      html body .hero .container .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        z-index: 10;
        position: relative; }
        html body .hero .container .content .text {
          color: #FFF;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          html body .hero .container .content .text h1 {
            font-size: calc(1rem + 4vw);
            font-family: "PB";
            line-height: 1.2;
            text-transform: uppercase; }
            html body .hero .container .content .text h1 span {
              color: #07172B; }
          html body .hero .container .content .text h5 {
            font-size: 1.9rem;
            font-weight: lighter;
            margin: 8rem 0 4rem 0;
            text-transform: uppercase; }
          html body .hero .container .content .text p {
            text-transform: lowercase;
            font-size: 1.6rem;
            line-height: 1.5;
            margin-bottom: 2rem; }
          html body .hero .container .content .text .cta {
            display: inline-block;
            position: relative;
            font-size: 1rem;
            font-weight: 800;
            color: #FFF;
            background-color: #07172B;
            width: 100px;
            height: 45px;
            border-radius: 2px;
            white-space: nowrap;
            overflow: hidden;
            -webkit-transition: all 480ms;
            -o-transition: all 480ms;
            transition: all 480ms; }
            html body .hero .container .content .text .cta:before {
              content: 'follow me';
              text-transform: uppercase;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
            html body .hero .container .content .text .cta:hover {
              -webkit-transform: scale(1.08);
              -ms-transform: scale(1.08);
              transform: scale(1.08);
              -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); }
            html body .hero .container .content .text .cta:hover:before {
              top: 150%;
              -webkit-animation: moveTop .15s linear forwards;
              animation: moveTop .15s linear forwards; }

@-webkit-keyframes moveTop {
  0% {
    top: -50%; }
  100% {
    top: 50%; } }

@keyframes moveTop {
  0% {
    top: -50%; }
  100% {
    top: 50%; } }
        html body .hero .container .content .logo-wrapper {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 45%;
          flex: 0 0 45%; }
    @media (max-width: 1280px) and (min-width: 1025px) {
      html body .hero .container .content .text p {
        color: #021226; } }
    @media (max-width: 1024px) and (min-width: 768px) {
      html body .hero .circle-large {
        width: 80rem;
        height: 80rem;
        bottom: -20rem;
        right: -30rem;
        background-color: #FFF; }
        html body .hero .circle-large:before {
          width: 40rem;
          height: 40rem;
          background-color: nul; }
      html body .hero .container .content .text h1 {
        font-size: calc(3rem + 4vw); }
      html body .hero .container .content .text h5 {
        color: #021226;
        font-weight: 700; }
      html body .hero .container .content .text p {
        color: #021226; } }
    @media (max-width: 767px) and (min-width: 375px) {
      html body .hero .circle-small {
        width: 20rem;
        height: 20rem;
        left: -5rem;
        background-color: #FFF; }
        html body .hero .circle-small:before {
          width: 10rem;
          height: 10rem;
          background-color: nul; }
      html body .hero .circle-large {
        width: 60rem;
        height: 60rem;
        bottom: -20rem;
        right: -30rem;
        background-color: #021226; }
        html body .hero .circle-large:before {
          width: 30rem;
          height: 30rem;
          background-color: nul; }
      html body .hero .container .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
        html body .hero .container .content .text h1 {
          font-size: calc(2rem + 4vw); }
        html body .hero .container .content .text h5 {
          font-weight: 600;
          font-size: calc(1rem + 1vw); }
        html body .hero .container .content .text p {
          font-weight: 600;
          font-size: calc(1rem + 1vw); }
        html body .hero .container .content .logo-wrapper {
          margin-bottom: 1rem;
          text-align: center;
          width: 50%; } }
    @media screen and (max-width: 374px) {
      html body .hero {
        height: unset;
        padding: 2rem 0; }
        html body .hero .circle-small {
          width: 12rem;
          height: 12rem;
          left: -2.5rem;
          background-color: #FFF;
          top: -4rem; }
          html body .hero .circle-small:before {
            width: 6rem;
            height: 6rem;
            background-color: nul; }
        html body .hero .circle-large {
          width: 30rem;
          height: 30rem;
          bottom: -10rem;
          right: -15rem;
          background-color: #021226; }
          html body .hero .circle-large:before {
            width: 15rem;
            height: 15rem;
            background-color: nul; }
        html body .hero .container .content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
          html body .hero .container .content .text h1 {
            font-size: calc(2rem + 3vw); }
          html body .hero .container .content .text h5 {
            margin-top: 5rem;
            font-size: calc(1rem + 1vw); }
          html body .hero .container .content .text p {
            font-size: calc(1rem + 1vw); }
        html body .hero .container .logo-wrapper {
          text-align: center; }
          html body .hero .container .logo-wrapper img {
            width: 50%; } }
  html body .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0; }
    html body .overlay .layer {
      background-color: #07172B; }
    html body .overlay .layer-1 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    html body .overlay .layer-2 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    html body .overlay .layer-3 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
